@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;

  /* Card */
  --card-height: 245px;
  --card-width: 188px;

  /* Footer Card */
  --card-bottom-height: 56px;
  --card-bottom-pt: 16px;
  --card-bottom-pr: 16px;
  --card-bottom-pb: 24px;
  --card-bottom-pl: 16px;

  /* Card red bar */
  --card-bar-height: 6px;
  --card-bar-color: #ec1d24;
  --card-anim-time: 300ms;

  /* Image height */
  --card-image-height: calc(var(--card-height) - var(--card-bottom-height));
}

@media (max-width: 768px) {
  :root {
    --card-width: 172px;
  }
}

.hero-bar {
  height: var(--card-bar-height);
  background-color: var(--card-bar-color);
  transition: height var(--card-anim-time) ease-out;
}

.group:hover .hero-bar {
  height: 100%;
}

@media (max-width: 768px) {
  .group:hover .hero-bar {
    height: var(--card-bar-height);
  }
}

.hero-bar {
  height: var(--card-bar-height);
  background-color: var(--card-bar-color);
  transition: height var(--card-anim-time) ease-out;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
