/* Hero card */
.hero-card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 12px),
    calc(100% - 12px) 100%,
    0 100%
  );
}

/* Image */
.hero-card__image {
  height: var(--card-image-height);
  overflow: hidden;
}

.hero-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Footer Card*/
.hero-card__footer {
  height: var(--card-bottom-height);
  padding: var(--card-bottom-pt) var(--card-bottom-pr) var(--card-bottom-pb)
    var(--card-bottom-pl);
  background: #000;
  position: relative;
  overflow: hidden;
}

/* Hero Name */
.hero-card__name {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
}

/* Favs */
.hero-card__fav {
  position: relative;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.hero-card__fav-icon {
  position: absolute;
  inset: 0;
  width: 1rem;
  height: 1rem;
  transition: opacity 150ms ease-out;
}

/* Fav > Heart Red (no hover) */
.hero-card__fav-icon--red {
  opacity: 1;
}

/* Fav > Heart Red on hover */
@media (min-width: 768px) {
  .group:hover .hero-card__fav-icon--red {
    opacity: 0;
  }
}

/* Fav  > Heart White (no hover) */
.hero-card__fav-icon--white {
  opacity: 0;
}

/* Fav  > Heart White on hover */
@media (min-width: 768px) {
  .group:hover .hero-card__fav-icon--white {
    opacity: 1;
  }
}
